h1#title{
    text-shadow: 5px 5px 8px;
    color: whitesmoke; font-size: 40px;
}

h1#titleaboutme{
    text-shadow: 5px 5px 8px;
}

#header{
    
 background-color: rgb(31, 29, 29); text-align: center;

 position:sticky; top: 0; left: 0; width: 100%; margin-top: 0px;

}

#footer{

position: relative; font-size: 10px; 
background-color: rgb(31, 29, 29); text-align: center; color: white;

}

.body{
 
                        
}

#bodyindex{
       background-color: black;

}
#bodygallery{

}
#bodyaboutme{

}
#bodycontactme{

}
#bodygenealogy{

}






/*.Home{
    margin-top: 100px;
}

.Gallery{
    margin-top: 100px;
}

.Aboutme{
    margin-top: 1000px;
}

.Contactme{
    margin-top: 100px;
}

*/
