



h1#title{
    text-shadow: 5px 5px 8px;
    color: whitesmoke; font-size: 40px;
}

h1#titleaboutme{
    text-shadow: 5px 5px 8px;
}

#header{
    
 background-color: rgb(31, 29, 29); text-align: center;

 position:sticky; top: 0; left: 0; width: 100%; margin-top: 0px;

}

#footer{

position: relative; font-size: 10px; 
background-color: rgb(31, 29, 29); text-align: center; color: white;

}

.body{
 

}

#bodyindex{

background-image: url(images/camera.jpeg); 
background-repeat: no-repeat;
background-position: center;   
background-attachment: fixed;
background-size: cover;
backdrop-filter: blur(10px);

}
#bodygallery{



background-image: url(images/camera.jpeg); 
background-repeat: no-repeat;
background-position: center;   
background-attachment: fixed;
background-size: cover;
backdrop-filter: blur(10px);

}

    



#bodyaboutme{

background-image: url(images/camera.jpeg); 
background-repeat: no-repeat;
background-position: center;   
background-attachment: fixed;
background-size: cover;
backdrop-filter: blur(10px);

}
#bodycontactme{



}
#bodygenealogy{

}

#gallerybutton{
    background-color: white; 
    border-radius: 25px;
    color: black ;
    font-size: large;
}

#gallerybutton:hover{

    font-size: 20px;

}




/*.Home{
    margin-top: 100px;
}

.Gallery{
    margin-top: 100px;
}

.Aboutme{
    margin-top: 1000px;
}

.Contactme{
    margin-top: 100px;
}

*/

.dropbtn {
  background-color: black;
  color: white;
  padding: 2px;
  border: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}